<div class="login-page">
  <div class="login-wrapper">
    <h4>Start for free</h4>
    <h1>Sign in account</h1>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="signIn(loginForm.value)">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="user@gmail.com" formControlName="email" autocomplete="email">
        <mat-error *ngIf="loginForm.controls['email'].errors?.['pattern']">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].errors?.['required']">
          Email is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input [type]="hidePass ? 'password' : 'text'" matInput minlength="6" placeholder="Password" formControlName="password"  autocomplete="password"/>
        <mat-icon class="password-icon" matSuffix (click)="hidePass = !hidePass">{{ hidePass ? 'visibility' : 'visibility_off' }}</mat-icon>
        <mat-error *ngIf=" loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']">
          Password is a required
        </mat-error>
        <mat-error *ngIf="
              loginForm.controls['password'].errors?.['minlength'] ||
              loginForm.controls['password'].errors?.['maxlength'] ||
              loginForm.controls['password'].errors?.['cannotContainSpace']">
          Password must be, 6-20 characters without spaces
        </mat-error>
      </mat-form-field>

      <button mat-button type="submit" [disabled]="!loginForm.valid">Login</button>

    </form>

  </div>
  <div class="image"></div>
</div>
